@charset "uft-8"; /*글자깨짐방지*/
/* 초기화 */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}
ul li{
    list-style: none;
}
a{
    display: block;
    text-decoration: none;
    color:inherit;
}
body{
    background-color: #fff;
    color:#333;
}

header{
    width: 1340px;
    height: 100px;
    margin: 0 auto;
    background-color: aqua;
}

#logo{
    float: left;
}
nav{
    float: right;
    padding-top: 50px;
    padding-right: 20px;
}
.menu{
    display: flex;
}
.menu>li>a{
    width: 150px;
    height: 50px;
    background-color: #fff;
    text-align: center;
    line-height: 50px;
    font-weight: bold;
}
.menu>li>a:hover{
    background-color: rgb(177, 218, 255);
}
.submenu{
    display: none;
    position: absolute;
    z-index: 6;
    
}
.submenu>li>a{
    width: 150px;
    height: 50px;
    text-align: center;
    line-height: 50px;
}
.submenu>li>a:hover{
    background-color: rgb(177, 218, 255);
}
#bg{
    display: none;
    width: 100%;
    min-width: 1340px;
    height: 200px;
    background-color: rgba(255,255,255,0.7);
    position: absolute;
    top:100px;
    left: 0;
    z-index: 5;
}
main{
    width: 100%;
    min-width: 1340px;
    height: 350px;
    background-color: yellow;
    overflow: hidden;
}
.slidelist{
    width: 100%;
    height: 1050px;
}
.slidelist>a{
    width: 100%;
    height: 350px;
}
.slidelist img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
section{
    width: 1340px;
    height: 600px;
    margin: 0 auto;
}
.link{
    width: 100%;
    height: 100px;
    background-color: violet;
}
.banner{
    width: 100%;
    height: 200px;
    background-color: yellow;
}

#recent{
    width: 100%;
}
#tab{
    overflow: hidden;
    margin-bottom: 10px;
}
#tab>li{
    width: 50%;
    text-align: center;
    float: left;
    padding: 5px 10px;
    font-size: 16px;
    color: #999;
    background-color: #ccc;
    cursor: pointer;
}
#tab>.active{
    background-color: #fff;
    color: #333;
    font-weight: bold;
}
#notice>ul{
    padding: 20px;
    line-height: 40px;
}
#notice>ul>li{
    border-bottom: 1px dotted #ccc;
}
#notice>ul>li:hover{
    background-color: #eee;
}
#gallery{
    display: none;
}
#gallery>a{
    width: 30%;
    height: 200px;
    float: left;
    margin-left: 10px;
}
#gallery img{
    width: 100%;
    height: 160px;
    object-fit: cover;
}
#gallery img:hover{
    opacity: 0.7;
}
footer{
    width: 1340px;
    height: 120px;
    background-color: violet;
    margin: 0 auto;
}